@model Life_Liberator.Models.User

@{
    Layout = null;

    // Call the InitializeProjects function
    Life_Liberator.Models.Project[] projects = Life_Liberator.Models.Project.InitializeProjects();

    // Print the projects to the console
    foreach (var project in projects)
    {
        Console.WriteLine($"Project ID: {project.Id}");
        Console.WriteLine($"Title: {project.Title}");
        Console.WriteLine($"Description: {project.Description}");
        Console.WriteLine($"Difficulty: {project.Difficulty}");
        Console.WriteLine();
    }
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign Up!</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <h1>Dashboard</h1>
    <section>
        <p>hello epic world :D</p>
    </section>
</body>
</html>