@{
    Layout = null;
}

<!DOCTYPE html>

<!--Intro Menu Page-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Winsome Tang" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" asp-append-version="true" />
    <title>Welcome to Life Liberator</title>
</head>
<body>
    <!--Navbar-->
    <!-- Update the existing code in your HTML file -->

    <nav class="landing-nav-bar">
        <a class="home-nav-link" asp-action="Index">
            <h1>
                Life Liberator
            </h1>
        </a>

        <ul>
            <li class="nav-item"><a asp-action="SignIn" id="sign-in-nav-item">Log In</a></li>
            <li class="nav-item"><a asp-action="SignUp"id="sign-up-nav-item">Sign Up</a></li>
        </ul>
    </nav>

    <section class="hero">
        <div class="intro-text">
            <h1>
                <span class="hear"> Find Balance, </span> <br />
                <span class="hear"> Achieve Success</span>
            </h1>
            <p>
                Your all-in-one solution for work-life balance.<br />
                Plan your schedule efficiently and live a more fulfilling life.
            </p>
            <a class="btn sign-up" asp-action="SignUp">Get Started !</a>
        </div>
        <div class="i-frame">
                   <img src="~/images/undraw_Proud_coder_re_exuy.png"/>
 
        </div>
    </section>
</body>
</html>

