@*@model Life_Liberator.Models.Schedule

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Schedule</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <section>
        <h1>Edit Your Schedule</h1>
    </section>

    <form asp-action="UpdateSchedule" method="post">
        <input type="hidden" asp-for="ScheduleId" />


        <input type="hidden" asp-for="UserId" />

        <button type="submit" class="btn sign-up">Update Schedule</button>
    </form>

</body>
</html>*@
