@model Life_Liberator.Models.Schedule

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign Up!</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <section>
        <h1> What's your schedule like</h1> <br />
        <h3> Let's figure out your availabilities</h3>
    </section>

    <!-- Your ScheduleForm form here -->
    <form asp-action="ScheduleForm" method="post">
        <div>
            <label for="dayOfWeek">Day of Week:</label>
            <select asp-for="dayOfWeek" class="form-control">
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
            </select>
            <span asp-validation-for="dayOfWeek" class="text-danger"></span>
        </div>

        <div>
            <label for="StartTime">Start Time:</label>
            <input asp-for="StartTime" type="time" class="form-control" />
            <span asp-validation-for="StartTime" class="text-danger"></span>
        </div>

        <div>
            <label for="EndTime">End Time:</label>
            <input asp-for="EndTime" type="time" class="form-control" />
            <span asp-validation-for="EndTime" class="text-danger"></span>
        </div>

        <input type="hidden" asp-for="UserId" />

        <a class="btn sign-up" asp-action="Dashboard"> Get Started !</a>
    </form>

</body>
</html>

