@model Life_Liberator.Models.User

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Winsome Tang" />
    <meta name="viewport" content="width=device-width" />
    <title>Sign In | Life Liberator</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <section>
        Welcome Back:D
    </section>

    <form asp-action="SignIn" method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="Email" class="form-label">Email:</label>
            <input asp-for="Email" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Password" class="form-label">Password:</label>
            <input asp-for="Password" class="form-control" />
        </div>

        <a class="log-in-page-btn" asp-action="Dashboard">Log In</a>

    </form>
</body>
</html>