@model Life_Liberator.Models.User

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Winsome Tang" />
    <meta name="viewport" content="width=device-width" />
    <title>Sign In | Life Liberator</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" asp-append-version="true" />

</head>
<body>
    <a class="home-nav-link" asp-action="Index">
        <img class="logo-img" src="~/images/LifeLiberator_logo.png" />
    </a>
    <div class="container">
        <section class="sign-in-section">
            Welcome Back! 👋
        </section>

        <form asp-action="SignIn" method="post">
            <div class="sign-in-group">
                <label asp-for="Email" class="sign-in-label">Email</label>
                <input asp-for="Email" class="sign-in-control" placeholder="Enter your email" />
            </div>

            <div class="sign-in-group">
                <label asp-for="Password" class="sign-in-label">Password</label>
                <input asp-for="Password" class="sign-in-control" placeholder="Enter your password" />
            </div>
            <div class="sign-in-group">
                <button type="submit" class="log-in-page-btn">Log In</button>
            </div>

        </form>

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.ErrorMessage
            </div>
        }
    </div>


</body>
</html>