@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* CSS Variables */
:root {
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 900;
    --primary-color: #000;
    --secondary-color: #F3EEE9;
    --line-height: 2rem;
    --transition: 0.4s ease-in;
}

/* Smooth scroll effect */
html {
    scroll-behavior: smooth;
    background-color: #F3EEE9;
}

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);
}

body {
    font-family: "Roboto", sans-serf;
    color: #F3EEE9;
}

ul li {
    list-style-type: none;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2rem;
    font-weight: var(--bold-font);

}

/*Home tab on nav bar begins here*/
a.home-nav-link {
    border: none;
    color: var(--primary-color);
    
}


a {
    text-decoration: none;
    margin-top: 1rem;
    display: inline-block;
    padding: 0.6rem 1.5rem;
}
/*sign up and sign in tabs*/
    a#sign-in-nav-item {
        border: none;
        color: var(--primary-color);
    }
        a#sign-in-nav-item:hover {
            text-decoration: underline;
        }
    a#sign-up-nav-item {
        border: 2px solid var(--primary-color);
        border-radius: 25px;
        color: var(--primary-color);
        background-color: var(--secondary-color);
    }
    a#sign-up-nav-item:hover{
        color: var(--secondary-color);
        background-color: var(--primary-color);
    }
nav {
    background: #F3EEE9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 1px 2px 1px #000;
    /*Make navbar sticky*/
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

/*Below is Hero Section*/
.hero {
    display: grid;
    grid-template-columns: 1fr 1.3fr; 
    gap: 3rem;
    max-width: 1300px;
    margin: 2rem auto;
    padding: 0 1rem;

.intro-text {
    grid-column: 1 / span 1;
}

.i-frame {
    grid-column: 2 / span 1;
}

.intro-text h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    margin-right: 2rem;
}

img {
    width: 100%;
    height: auto;
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
}

.hero p {
    line-height: var(--line-height);
    color: var(--primary-color);
}

.hear {
    color: var(--primary-color);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1.5rem 2rem;
    border: 2px solid var(--primary-color);
    font-size: 1.4rem;
    border-radius: 40px;
}

.sign-up {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    margin-right: 1rem;
}

    .sign-up:hover {
        color: var(--primary-color);
        background-color: var(--secondary-color);
    }

img {
    border: 1px solid var(--secondary-color);
}
